<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lotusautoconsulting">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Send_message"></activity>
        <activity android:name=".Emi_view" />
        <activity android:name=".Emi_update" />
        <activity android:name=".Emi_Confirm" />
        <activity android:name=".Emi_details" />
        <activity android:name=".Vehiclestatinfo" />
        <activity android:name=".Vehicleinfo" />
        <activity android:name=".AddVehicleForm" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddVehicle"
            android:label="@string/app_name" />
    </application>

</manifest>